$breakpoint-mobile-min : "320px";
$breakpoint-mobile-max : "480px";
$breakpoint-tab-min : "481px";
$breakpoint-tab-max : "768px";
$breakpoint-laptop-min : "769px";
$breakpoint-laptop-max : "1024px";
$breakpoint-desktop-min : "1025px";
$breakpoint-desktop-max : "1200px";
$breakpoint-large-screen : "1201px";