$red : #df001a;
$black : #000;
$blue : rgb(19, 67, 223);
$light-blue: rgb(5, 185, 209);
$green : rgb(0, 189, 41);
$grey : rgb(107, 106, 106);
$light-grey : rgb(219, 219, 219);
$white: #fff;
$yellow: #e4e70f;
$gold: #a9a809;

