@import '../../css/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&Noto+Sans&family=Raleway:ital,wght@0,300;0,600;1,900&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// $dark-grey: #262122;
$dark-grey: #262122;
$dark-grey2: rgb(27,25,26);
$black: #000;
$white: #fff;
$red: #970000;
$primary: $red;


*{
    font-family: "Noto Sans";
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    color: $white;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.container-fluid{
    width: 100vw;
    height: 100%;
    background: $dark-grey;
    min-height: 100vh;
    z-index: 2;
}
.nav-toggle{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    z-index: 100;
}
nav{
    position: fixed;
    top: 0;
    left: -100vw;
    background: rgba($color: $black, $alpha: 1);
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    z-index: 2000;
    overflow-y: scroll;
    transition: left 200ms linear;
    .close-nav{
        position: absolute;
        top: 10px;
        right: 20px;
        color: $white;
        font-size: 12pt;
        font-weight: 700;
        cursor: pointer;
        z-index: 1000;
    }
    .nav-brand{
        
        .brand{
            color: $white;
            line-height: 50px;
            margin-left: 16px;
        }

    }
    
    .nav-links{
        .link-item{
            cursor: pointer;
            >a{
                
                line-height: 50px;
                padding: 2em;
                font-size: 15pt;
                i{
                    display: none;
                }
            }
            a{
                color: $white;
                font-size: 8pt;
                &:hover{
                    color: darken($white,30);
                }
            }

            .drop-down{
                width: 100vw;
                background: $dark-grey2;
                left: 0;
                overflow: hidden;
                box-shadow: 0 0 0px rgba($color: $black, $alpha: 1.0);
                z-index: 1000 !important;
                padding: 1em 3em;
                h5{
                    text-decoration: underline;
                    width: 100%;
                    font-size: 16pt;
                    // display: none;
                }
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                ul{
                    width: 50%;
                    margin-bottom: 2em;
                    li{
                        padding: .5em .5em;
                    }
                }
                .drop-down-wrapper{
                    display: flex;
                    flex-direction: row;
                }
            }
            &:hover{
                .drop-down{
                    height: auto;
                    padding: 30px;
                }
            }
        }
    }

}

nav.show{
    left: 0;
}

.hero-section{
    padding: 2em;
    overflow: hidden
    h1{
        font-size: 40pt;
    }
    p{
        font-size: 12pt;
        margin-top: 10px;
        line-height: 25px;
    }
    small{
        font-size: 8pt;
        margin-top: 10px;
        line-height: 20px;
        display: block;
    }
    .learn-btn{
        width: 50%;
        height: 40px;
        color: $white;
        box-shadow: 0 0 0 $black;
        cursor: pointer;
        border: 0;
        border-radius: .4em;
        margin-top: 20px;
        overflow: hidden;

        background-image: linear-gradient(#8a1111,#8a3403) !important;
        border-width: 3px;
        &:hover{
            background-image: linear-gradient(#660c0c,#692803) !important;
        }
    }
}

.hero-gallery-img{
    width: 100%;
}

.bottom-blur{
    background: $black;
    height: 50px;
    width: 150vw;
    box-shadow: -2em -30px 30px $black;
    position: relative;
    bottom: 0;
}

@media screen and (min-width: $breakpoint-laptop-min){
    .close-nav,.nav-toggle{
        display: none;
    }
    nav{
        width: 70%;
        position: relative;
        margin: 0 auto;
        display: flex;
        overflow-y: hidden;
        height: 50px;
        left: 0;
       
        .nav-links{
            .link-item{
                display: inline;
                padding: 1em;
                
                >a{
                    i{
                        display: inline;
                    }
                }
                .drop-down{
                    position: fixed;
                    height: 0;
                    top: 47px;
                    padding: 0;
                    flex-wrap: nowrap;
                    h5{
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                        font-size: 20px;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                        ul{
                            width: auto;
                            li{
                                a{
                                    line-height: 30px;
                                }
                            }
                        }
                }
                &:hover{
                    
                background: $dark-grey2;
                .drop-down{
                    
                    border-bottom: 2px solid $primary;
                }
                }
            }
        }
    }

    .hero-gallery-img{
        position: absolute;
        top: -35%;
        right: -70%;
        z-index: -1;
    }

    .bottom-blur{
        position: absolute;
    }

    .hero-section{
        width: 70%;
        margin: 100px auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        .hero-content{
                width: 50%;
                p,small{
                    margin-bottom: 20px;
                    display: block;
                }
                h1{
                    font-size: 5em;
                    line-height: 120px;
                }
                p{
                    font-size: 16pt;
                    line-height: 32px;
                }
                small{
                    font-size:10pt;
                    color: darken($white,35);
                }
                
        }
    }
}


@media screen and (min-width: $breakpoint-large-screen){
    .hero-gallery-img{
        right: -60%;
    }
}